<nav aria-label="Page navigation">
    {% if pages.has_other_pages %}
        <ul class="pagination">
            {% if pages.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ pages.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% if pages.number > 3 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">1</a>
                </li>
            {% endif %}


            {% if pages.number > 4 %}
                <li class="page-item disabled"><span class="page-link" aria-hidden="true">...</span></li>
            {% endif %}


            {% for i in pages.paginator.page_range %}
                {% if pages.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i < pages.number|add:3 and i > pages.number|add:-3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if pages.number < pages.paginator.num_pages|add:-3 %}
                 <li class="page-item disabled"><span class="page-link" aria-hidden="true">...</span></li>
            {% endif %}


            {% if pages.number < pages.paginator.num_pages|add:-2 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pages.paginator.num_pages }}" aria-label="Last">{{ pages.paginator.num_pages}}</a>
                </li>
            {% endif%}


            {% if pages.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ pages.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

</nav>