{% extends "base.html" %}


{% load static %}



{% block page_title %}カテゴリー追加{% endblock %}


{% block login %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url "article:logout"%}">Logout</a>
    </li>
</ul>
    <span class="navbar-text" style="color:red;">{{ user.username }}でログイン中</span>
{% endblock %}
{% block content %}

    <div class="cn_fl">
    <link rel="stylesheet" href="{% static 'css/article/post.css' %}">
         <form method="post" >
             {% csrf_token %}
             {% if form.errors %}
                   {% for field in form %}
                        {% for error in field.errors %}
                             <div class="alert alert-danger">
                                 <strong>{{ error|escape }}</strong>
                             </div>
                        {% endfor %}
                   {% endfor %}
            {% endif %}

            {{ form.category.label }}:{{ form.category }}
            <button class="btn btn-success" type="submit">categoryを追加</button>
         </form>
    </div>


{% endblock %}

{% block javascript %}
{% endblock %}
