
{% extends "base.html" %}
{% load markdown_extras %}
{% block addtional_css %}
    {# mdeditorのcssのための設定 #}
    <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}記事一覧{% endblock %}

{% block content %}
    {% if article %}
        author: {{ article.author }} <br/>
        title: {{ article.title }}<br/>
        summary: {{ article.summary }} <br/>
        content:
        <div id="content"> {{ article.content |markdown|safe}} </div><br/>
        publish_date: {{ article.publish_date }} <br/>
        category: {{ article.category}} <br/>

    {% else %}
        記事はありません
    {% endif %}

    <a href="{% url "article:index" %}">記事一覧</a>
{% endblock %}

{% block body_end %}

<script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
<script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
<script>
  $(function () {
      editormd.markdownToHTML("content", {
          emoji           : true,
          taskList        : true,
          tex             : true,
          flowChart       : true,
          sequenceDiagram : true,
      });
      $(".reference-link").each(function (i,obj) {
        console.log(obj)
      })
  })
</script>

{% endblock %}