{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block page_title %}記事一覧{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/article/detail.css' %}">
    {% if article %}
        author: {{ article.author.username }} <br/>
        title: {{ article.title }}<br/>
        summary: {{ article.summary }} <br/>
        content:
        <div id="content"> {{ article.content |markdown|safe}} </div><br/>
        publish_date: {{ article.publish_date }} <br/>
        category: {{ article.category}} <br/>

    {% else %}
        <h2>記事はありません</h2>
    {% endif %}

    <a href="{% url "article:index" %}">記事一覧</a>
{% endblock %}

{% block side-content %}
    <div id="side_category">
        <h4>Category</h4>
        <ul class="list-group list-group-flush">
            {% for c in category %}
                <li class="list-group-item"><a href="{% url "article:category"  c.category%}">{{ c.category }}</a></li>

            {% endfor %}
        </ul>
    </div>
{% endblock %}