
{% extends "base.html" %}
{% load markdown_extras %}

{% block page_title %}記事一覧{% endblock %}

{% block content %}
    {% if article %}
        author: {{ article.author.username }} <br/>
        title: {{ article.title }}<br/>
        summary: {{ article.summary }} <br/>
        content:
        <div id="content"> {{ article.content |markdown|safe}} </div><br/>
        publish_date: {{ article.publish_date }} <br/>
        category: {{ article.category}} <br/>

    {% else %}
        記事はありません
    {% endif %}

    <a href="{% url "article:index" %}">記事一覧</a>
{% endblock %}
