{% extends "base.html" %}
{% load static %}
{% block page_title %}記事一覧{% endblock %}
{% block login %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url "article:login"%}">Login</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/article/index.css' %}">
   <div id="main_card">
       {% if filter_category %}
           <div style="text-align: center;padding-bottom: 10px;">
               <h3>{{ filter_category }}カテゴリを選択</h3>
           </div>
       {% endif %}

       {% for article in pages %}
           <div class="card">
               <a href="{% url "article:detail" article.id %}">
                   <div class="card-header">
                       <p class="h1">title:{{ article.title }}</p>
                   </div>
               </a>
               <div class="card-body">
                   author: {{ article.author__username }} <br/>
                   summary: {{ article.summary }} <br/>
                   publish_date: {{ article.publish_date }} <br/>
                   category: {{ article.category__category }} <br/>
               </div>
           </div>
       {% empty %}
           <h2 style="text-align: center; padding-top: 30px;">記事が存在しません</h2>
       {% endfor %}

       {% include "article/include/pagenation.html" %}

    </div>

{% endblock %}

{% block side-content %}
    <div id="side_category">
        <h4>Category</h4>
        <ul class="list-group list-group-flush">
            {% for c in category %}
                <li class="list-group-item"><a href="{% url "article:category"  c.category%}">{{ c.category }}</a></li>

            {% endfor %}
        </ul>
    </div>
{% endblock %}