
{% extends "base.html" %}

{% block page_title %}記事一覧{% endblock %}
{% block login %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url "article:post"%}">記事を投稿</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "article:logout"%}">Logout</a>
    </li>
</ul>
    <span class="navbar-text" style="color:red;">{{ user.username }}でログイン中</span>
{% endblock %}

{% block content %}
    {% if article %}
        author: {{ article.author }} <br/>
        title: {{ article.title }}<br/>
        summary: {{ article.summary }} <br/>
        content: {{ article.content }} <br/>
        publish_date: {{ article.publish_date }} <br/>
        category: {{ article.category }} <br/>

    {% else %}
        記事はありません
    {% endif %}

    <a href="{% url "article:index" %}">記事一覧</a>
{% endblock %}