{% extends "article/login/base.html" %}
{% load static %}

{% block page_title %}ユーザ名変更{% endblock %}

{% block content %}
    <div class="cn_fl">
    <h3>ユーザ名を変更</h3>
    <link rel="stylesheet" href="{% static 'css/article/post.css' %}">
         <form method="post" >
             {% csrf_token %}
             {% if form.errors %}
                   {% for field in form %}
                        {% for error in field.errors %}
                             <div class="alert alert-danger">
                                 <strong>{{ error }}</strong>
                             </div>
                        {% endfor %}
                   {% endfor %}
            {% endif %}

            {{ form.username.label }}:&nbsp;{{ form.username }}
            <button class="btn btn-success" type="submit">変更</button>
         </form>
    </div>
    <br/>
{% endblock %}
