{% extends "article/login/base.html" %}

{% load static %}
{% load markdown_extras %}


{% block page_title %}記事一覧{% endblock %}


{% block content_fluid %}

    <div class="cn_fl">
    <link rel="stylesheet" href="{% static 'css/article/post.css' %}">
         <form method="post" >
             {% csrf_token %}
                author: {{ article.author.username }} <br/>
                title: {{ article.title }}<br/>
                summary: {{ article.summary }} <br/>
                content:
                <div id="content">{{ article.content |markdown|safe}} </div><br/>
                publish_date: {{ article.publish_date }} <br/>
                category: {{ article.category }} <br/>
             <br>
             <p>削除しますか?</p>
             <button class="btn btn-danger" type="submit">削除</button>
         </form>
    </div>

{% endblock %}

