
.relative{
    position: relative;
}

#not_public{
    position: absolute;
    top: 28px;
    right: 190px;
}

#is_future{
    position: absolute;
    top: 28px;
    right: 190px;
}

#edit{
    position: absolute;
    top: 20px;
    right: 30px;
}

#delete{
    position: absolute;
    top: 20px;
    right: 90px;
}