[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1"
uwsgi = "==2.0.17"
mysqlclient = "==1.4.6"
django-mdeditor = "==0.1.18"
markdown = "==3.3.4"
django-bootstrap-datepicker-plus = "==3.0.5"

[dev-packages]
mypy = "*"
flake8 = "*"
isort = "*"
django-debug-toolbar = "*"
black = "==19.10b0"

[requires]
python_version = "3.8"
